@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cipher-bg text-white font-sans;
    margin: 0;
    padding: 0;
    width: 375px;
    height: 600px;
    overflow-x: hidden;
  }

  * {
    box-sizing: border-box;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

